[build-system]
requires = [
	 "setuptools",
	 "wheel",
	 "scikit-build",
	 "pybind11",
	 "cmake",
	 "ninja"
]
build-backend = "setuptools.build_meta"

[tool.pytest.ini_options]
testpaths = [
    "tests/python",
]
