
body {
  background-color: #CCCCCC;
}

div.top { background-color: white; }

div.contents {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  padding: 12px;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  background-color: white;
  border-bottom-right-radius:8px;
  border-bottom-left-radius:8px; 
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  /* firefox specific markup */
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  /* webkit specific markup */
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}

div.header
{
  background-image:url('nav_h.png');
  background-repeat:repeat-x;
  background-color: #FAFAFA;
  border-bottom: 1px solid #D5D5D5;
  margin-left: auto;
  margin-right: auto;
  width: 960px;
  padding-left: 12px;
  padding-right: 12px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  /* firefox specific markup */
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  /* webkit specific markup */
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
}


table {
  background-color: white;
}

h1 { font-size: 150%; }
h2 { font-size: 135%; }
h3 { font-size: 120%; }

div.titlearea { background-color: white; }

hr.footer {
        display: none;
}

.footer {
        background-color: #AAA;
}
