name: Test Python
on: [push, pull_request]

jobs:
    test:
      runs-on: ${{ matrix.runner }}
      strategy:
        fail-fast: false
        matrix:
          runner:
            - ubuntu-latest
            - macos-latest
          python-version:
            - "3.10"
            - "3.x"
      steps:

        - uses: actions/checkout@v6
          with:
            submodules: recursive

        - uses: actions/setup-python@v6
          with:
            python-version: ${{ matrix.python-version }}

        - name: Install package for testing
          run: python -m pip install ".[test]"

        - name: Run tests
          run: pytest
