name: Python wheels
on:
  push:
    tags:
      - 'v*.*.*'

jobs:
    test_linux:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6
          with:
            submodules: recursive

        - uses: actions/setup-python@v6
          with:
            python-version: "3.x"

        - name: Install package for testing
          run: python -m pip install ".[test]"

        - name: Run tests
          run: >
            export MPP_DIRECTORY=$(pwd) &&
            export MPP_DATA_DIRECTORY=$MPP_DIRECTORY/data &&
            pytest

    test_mac:
      runs-on: macos-latest
      steps:
        - uses: actions/checkout@v6
          with:
            submodules: recursive

        - uses: actions/setup-python@v6
          with:
            python-version: "3.x"

        - name: Install package for testing
          run: python -m pip install ".[test]"

        - name: Run tests
          run: >
            export MPP_DIRECTORY=$(pwd) &&
            export MPP_DATA_DIRECTORY=$MPP_DIRECTORY/data &&
            pytest

    linux_wheels:
        strategy:
          matrix:
            python-version:
              - cp310-cp310
              - cp311-cp311
              - cp312-cp312
              - cp313-cp313
              - cp314-cp314

        needs: test_linux
        runs-on: ubuntu-latest
        steps:
          - uses: actions/checkout@v6
            with:
              submodules: recursive

          - uses: actions/setup-python@v6
            with:
              python-version: 3.14

          - name: Build manylinux Python wheels
            uses: RalfG/python-wheels-manylinux-build@v0.3.4-manylinux2010_x86_64
            with:
              python-versions: ${{ matrix.python-version }}

          - uses: actions/upload-artifact@v2
            with:
              name: linux_wheels
              path: "dist/*-manylinux*.whl"
              retention-days: 1

    mac_wheels:
        strategy:
          matrix:
            python-version:
              - "3.10"
              - "3.11"
              - "3.12"
              - "3.13"
              - "3.14"
        needs: test_mac
        runs-on: macos-latest
        steps:
          - uses: actions/checkout@v6
            with:
              submodules: recursive

          - uses: actions/setup-python@v6
            with:
              python-version: ${{ matrix.python-version }}

          - name: Install build
            run: python -m pip install build

          - name: Build wheel
            run: python -m build --whell

          - uses: actions/upload-artifact@v2
            with:
              name: mac_wheels
              path: "dist/*.whl"
              retention-days: 1

    sdist:
      needs: test_linux
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v6
          with:
            submodules: recursive

        - uses: actions/setup-python@v6
          with:
            python-version: "3.x"

        - name: Install build
          run: python -m pip install build

        - name: Build sdist
          run: python -m build --sdist

        - uses: actions/upload-artifact@v2
          with:
            name: sdist
            path: "dist/*.tar.gz"
            retention-days: 1

    upload_wheels:
      runs-on: ubuntu-latest
      needs: [linux_wheels, mac_wheels]
      steps:
          - uses: actions/download-artifact@v2
            with:
              name: linux_wheels
              path: dist

          - uses: actions/download-artifact@v2
            with:
              name: mac_wheels
              path: dist

          - uses: actions/download-artifact@v2
            with:
              name: sdist
              path: dist

          - uses: actions/setup-python@v6
            with:
              python-version: "3.x"

          - name: Install twine
            run: python -m pip install twine

          - name: Upload wheels
            run: twine upload -u __token__ -p "${{ secrets.TESTPYPI_TOKEN }}" --repository testpypi dist/*
