name: Python wheels

on:  # yamllint disable-line rule:truthy
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:
    inputs:
      publish-pypi:
        description: 'Publish to PyPI'
        required: false
        type: boolean
        default: false

jobs:

  build:
    uses: ./.github/workflows/test_python.yml

  publish-pypi:
    # TODO: create GitHub environment
    # environment:
    #   name: pypi
    #   url:  https://pypi.org/project/mutationpp
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
      attestations: write
    steps:

    - name: Download sdist artifact
      uses: actions/download-artifact@v6
      with:
        path: dist
        pattern: sdist
        merge-multiple: true

    - name: Download wheel artifacts
      uses: actions/download-artifact@v6
      with:
        path: dist
        pattern: wheel-*
        merge-multiple: true

    - name: Checksum artifacts
      run:  |
        sha256sum -b *
        echo '```'     >> "$GITHUB_STEP_SUMMARY"
        sha256sum -b * >> "$GITHUB_STEP_SUMMARY"
        echo '```'     >> "$GITHUB_STEP_SUMMARY"
      working-directory: dist

    - if: |
        inputs.publish-pypi ||
        github.ref_type == 'tag'
      name: Attest artifacts
      uses: actions/attest-build-provenance@v3
      with:
        subject-path: dist/*

    - if: |
        inputs.publish-pypi ||
        github.ref_type == 'tag'
      name: Publish to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        # TODO: remove next line to use the main PyPI index
        repository-url: https://test.pypi.org/legacy/
        # TODO: setup Trusted Publising on PyPI, then remove next line
        password: ${{ secrets.TESTPYPI_TOKEN }}
